*{
    line-height: 1.5;
    text-decoration: none;
}
body{
    margin: 0;
}
h1{
    text-align: center;
}
.tin {
    font-size: 50px;
    margin: 12px;
} 
.welcome > .tin, .tin-two{
    font-size: 35px;
}
.container{
    border-style: double;
    padding: 20px 30px;
    background-color: hsl(60, 100%, 60%);
    text-decoration: none;
}
.title{
    text-align: center;
    border-style: outset;
    font-family: 'Brush Script MT', cursive;
    font-size: 55px;
}
.image{
    border-radius: 100px;
    margin: 25px;
}
.first-image{
    margin: 15px;
}
.tilapia{
    display: flex;
    padding: 8px;
    flex-wrap:wrap ;
    align-items:center;
}
.tilapia > img{
    flex: 2 0 auto;
}

li a{
    background-color: white;
    border: 15px;
    margin: 15px;
    border-radius: 10px;
    list-style-type: none;
    padding: 5px;
    color: black;
}

li{
    padding: 10px;
}
.recipe-list {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #333333;
    justify-content: center;
}

.nav-bar {
    border-bottom: 1px solid #333333;
    color: black;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.nav-bar > a {
    display: flex;
}
.fourth-item, button{
    margin-left: auto;
    background-color: #815113;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.welcome > h1{
    text-align: left;
} 
.welcome-message{
    display: flex;
    padding: 5px 200px;
    width: 900px;
    justify-content: center;
    border-bottom: 1px solid #333333;
}
.welcome{
    width: 400px;
}
.welcome-text, a{
    font-size: 18px;
    color: black;
}
.content-one{
    padding-left: 15px;
}
.item{
    text-align: center;
    list-style-type: none;
    margin: 0;
}

.footer{
    height: 50px;
    background-color: #815113;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}