*{
    line-height: 1.5;
    text-decoration: none;
    padding: 15px auto;
}
body{
    margin: 0;
}
div h1{
    text-align: center;
}
.container{
    border-style: double;
    padding: 20px 30px;
    background-color: hsl(60, 100%, 60%);
    text-decoration: none;
}
.title{
    text-align: center;
    border-style: outset;
    font-family: 'Brush Script MT', cursive;
    font-size: 55px;
}
img{
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
}
.tilapia{
    display: flex;
    padding: 8px;
    flex-wrap:wrap ;
    align-items:center;
}
.tilapia > img{
    flex: 2 0 auto;
}

li a{
    background-color: white;
    border: 15px;
    margin: 15px;
    border-radius: 10px;
    list-style-type: none;
    padding: 5px;
    color: blue;
}

li{
    padding: 10px;
}
.recipe-list {
    display: flex;
    border-bottom: 1px solid #333333;
}

.nav-bar {
    border-bottom: 1px solid #333333;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.nav-bar > a {
    display: flex;
}
.fourth-item{
    margin-left: auto;
}
.welcome > h1{
    text-align: left;
} 
.welcome-message{
    display: flex;
    padding: 10px 150px;
    width: 900px;
    justify-content: center;
    border-bottom: 1px solid #333333;
}
.welcome{
    width: 400px;
}
.item{
    text-align: center;
    list-style-type: none;
}
.image{
    border-radius: 10px;
}